<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Phola Park App{% endblock %}</title>
    <style>
    </style>
</head>
<body>
    <!-- NAVBAR -->
    </nav>

    <!-- PAGE LAYOUT -->
    <div class="dashboard-container">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <div class="logo">
                  Phola Park
            </div>

                <a href="{{ url_for('main.admin_dashboard') }}">
                    Dashboard
                </a>

                <a href="{{ url_for('admin.admin_users') }}">
                    Users
                </a>

                <a href="{{ url_for('admin.view_reports') }}">
                    Reports
                </a>

                <a href="{{ url_for('admin.announcements') }}">
                    Announcements
                </a>

                <a href="{{ url_for('admin.audit_logs') }}">
                    Audit Logs
                </a>

            

        </aside>

        <!-- CONTENT -->
        <main class="main-content">

            {% block content %}
            {% endblock %}

        </main>

    </div>
   
    <!-- Bootstrap JS -->
    

    {% block extra_js %}{% endblock %}
</body>
</html>