{% extends "base.html" %}

{% block content %}

<h2>My Reports</h2>

<table>

    <thead>

        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Date</th>
        </tr>

    </thead>

    <tbody>

        {% for report in reports %}

        <tr>

            <td>{{ report.title }}</td>
            <td>{{ report.category }}</td>
            <td>{{ report.status }}</td>
            <td>
                {{ report.created_at.strftime('%d/%m/%Y') }}
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}