# Core Flask Framework
Flask==3.0.3

# Database ORM
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31

# Authentication & Session Management
Flask-Login==0.6.3
flask-jwt-extended==4.7.1
# Password Hashing
Werkzeug==3.0.2

# Date Utilities
python-dateutil==2.9.0.post0

# PDF Export (requires wkhtmltopdf system tool)
pdfkit==1.0.0

# CSV / Data Export
pandas==2.2.3

# File Uploads / Image Handling
Pillow==10.4.0

# Charts and Data Visualization (for admin & supervisor dashboards)
Flask-Cors==4.0.1
itsdangerous==2.2.0
Jinja2==3.1.4

# Optional - to run with Gunicorn or waitress in production
gunicorn==22.0.0
waitress==3.0.0
email-validator==2.3.0