<div class="stats-container">

    <div class="card">
        <h6>Total Users</h6>
        <h3>{{ total_users }}</h3>
    </div>

    <div class="card">
        <h6>Supervisors</h6>
        <h3>{{ total_supervisors }}</h3>
    </div>

    <div class="card">
        <h6>Total Reports</h6>
        <h3>{{ total_reports }}</h3>
    </div>

    <div class="card">
        <h6>Total Surveys</h6>
        <h3>{{ total_surveys }}</h3>
    </div>

    <div class="card">
        <h6>Announcements</h6>
        <h3>{{ total_announcements }}</h3>
    </div>

    <div class="card">
        <h6>Projects</h6>
        <h3>{{ total_projects }}</h3>
    </div>

</div>